@media (max-width: 768px) {
    .dynamic-form-wrapper {
      width: 100%; /* Full width on small screens */
      padding: 10px;
    }
  }
  
  @media (min-width: 768px) {
    .dynamic-form-wrapper {
      width: 66%; /* 2/3 width on medium and larger screens */
      padding: 20px;
    }
  }

  .custom-pagination .page-item {
  border-radius: 10px; /* Rounded corners like the image */
  margin: 0 2px; /* Small margin between items */
}

.custom-pagination .page-item.active .page-link {
  background-color: #0056ff; /* Blue background for active */
  color: #ffffff; /* White text for active */
  font-weight: bold; /* Bold text for active */
   /* Remove default border */
}

.custom-pagination .page-item .page-link {
  background-color: #f1f1f1; /* Light background for inactive */
  color: #333; /* Darker text for inactive */
  border: none; /* Remove default border */
}

.custom-pagination .page-item:hover .page-link {
  background-color: #e0e0e0; /* Light gray background on hover */
}

.custom-pagination .page-item.disabled .page-link {
  color: #ccc; /* Gray text for disabled */
}
